<div id="home-logo">
  <%= image_tag "marios-logo.png", width: "80%", alt: "Mario's Crown Logo" %>
</div>

<hr>

<div id="lipsum">
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque aliquam magna nunc, elementum vestibulum justo tincidunt in. Proin tincidunt, turpis non rhoncus placerat, velit ante euismod justo, eleifend luctus lorem nibh nec lectus. Nulla venenatis turpis id vulputate egestas. Nullam quis nulla sed augue pharetra dictum. Sed efficitur odio et sollicitudin rhoncus. Praesent posuere leo nec leo tempor facilisis. Curabitur id diam eu justo sagittis efficitur at tristique felis.
  </p>
  
  <%= image_tag "marios-shop.jpeg", width: "80%", alt: "Mario's Shop", id: "marios-shop" %>

  <h4>Most Reviewed Product</h4>
  <% if @most_reviewed_products.any? %>
    <ul>
    <% @most_reviewed_products.each do |product| %>
      <li><%= link_to product.name, product_path(product) %></li>
    <% end %>
    </ul>
  <% else %>
    <p>Looks like there aren't any reviewed products, yet.</p>
  <% end %>

  <h4>Top 3 Recently Added Products</h4>
  <% if @most_recent_products.any? %>
    <ul>
    <% @most_recent_products.each do |product| %>
      <li><%= link_to product.name, product_path(product) %></li>
    <% end %>
    </ul>
  <% else %>
    <p>Looks like we're completely out of stock! Check back on Tuesday when we'll have our next inventory refresh.</p>
  <% end %>

  <h4>Shop Locally!</h4>
  <h5>All Products from the USA</h5>
  <% if @local_to_usa.any? %>
    <ul>
    <% @local_to_usa.each do |product| %>
      <li><%= link_to product.name, product_path(product) %></li>
    <% end %>
    </ul>
  <% else %>
    <p>Sorry, no products from the USA today.</p>
  <% end %>

<h4 id="about">About Us</h4>
  <p>
    Pellentesque at sodales nibh. Fusce non suscipit nulla. Suspendisse rhoncus, urna id maximus mattis, eros dolor sodales felis, in sollicitudin eros lorem at lectus. Proin ac dolor non est feugiat vestibulum ac eget leo. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Sed nec sollicitudin mi, eget pretium lacus. Donec finibus mi et lectus sollicitudin, in aliquet tellus facilisis. Nam a pharetra libero. Sed porta diam in maximus sodales.
  </p>
  <p>
    <ul>
      <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
      <li>Donec eu mi feugiat, consequat enim a, consectetur neque.</li>
    </ul>
  </p>
  <p>
    <ul>
      <li>Sed at tortor vitae eros ultricies laoreet.</li>
      <li>Suspendisse dignissim dolor et tincidunt mattis.</li>
      <li>Mauris tincidunt ligula eu purus facilisis, vel euismod arcu vestibulum.</li>
      <li>Proin suscipit diam eleifend diam eleifend, ut elementum diam tincidunt.</li>
      <li>Sed tempus neque lobortis justo molestie, nec lobortis risus tincidunt.</li>
    </ul>
  </p>
  <p>
    <ul>
      <li>Mauris sollicitudin arcu egestas arcu suscipit, at gravida turpis lacinia.</li>
      <li>Vestibulum fringilla ligula at tortor gravida tempus.</li>
    </ul>
  </p>
</div>
