<h1>Sign in <small>(or <a href="/signup">sign up</a>)</small></h1>
<%= form_tag signin_path do %>
  <%= label_tag "Username or email" %>
  <%= text_field_tag :email %>
  <%= label_tag :password %>
  <%= password_field_tag :password %>
  <%= submit_tag "Sign in" %>
<% end %>
