<h1>
  <%= @product.name %> <small>(<%= link_to "edit", edit_product_path(@product) %>/<%= link_to "delete", product_path(@product), data: {confirm: "Are you sure?", method: "delete"} %>)</small>
</h1>
<h3><small>Product of <%= @product.country_of_origin %></small></h3>
<h3>Price: $<%= @product.cost %></h3>

<h3>Reviews <small><%= link_to "(add a review)", new_product_review_path(@product) %></small></h3>
<% if @product.reviews.any? %>
  <% @product.reviews.each do |review| %>
    <ul>
      <li>
        <% snippet_size = 40 %>
        <% review_snippet = "#{review.content_body[0, snippet_size]}#{'...' if review.content_body.size > snippet_size}" %>
        <% rating_suffix = review.rating == 1 ? "Star" : "Stars" %>
        <% display_string =  "#{review.rating} #{rating_suffix} - #{review.author} says \"#{review_snippet}\"" %>
        <%= link_to display_string, product_review_path(@product, review) %>
      </li>
    </ul>
  <% end %>
<% else %>
  <p>This product has no reviews, yet.</p>
<% end %>
