<% rating_suffix = @review.rating == 1 ? "Star" : "Stars" %>

<h1><%= @product.name %> - <%= @review.rating %> <%= rating_suffix %></h1>
<blockquote><%= @review.content_body %><small><%= @review.author %></small></blockquote>

<p><%= link_to "Edit review", edit_product_review_path(@product, @review) %></p>
<p><%= link_to "Delete review", product_review_path(@product, @review),
                        :data => {:confirm => "Are you sure?",
                                       :method => "delete"} %></p>

<p><%= link_to "Return to product", product_path(@product) %></p>
