<h1>Customer review</h1>
<h3><%= @product.name %></h3>
<h3>
  <% @review.rating.to_i.times do  %>
    <span class="glyphicon glyphicon-star"></span>
  <% end %>
  <% (5 - @review.rating.to_i).times do  %>
    <span class="glyphicon glyphicon-star-empty"></span>
  <% end %>
</h3>
<blockquote><%= @review.content_body %><small><%= @review.author %></small></blockquote>

<p><%= link_to "Edit review", edit_product_review_path(@product, @review) %></p>
<p><%= link_to "Delete review", product_review_path(@product, @review),
                        :data => {:confirm => "Are you sure?",
                                       :method => "delete"} %></p>

<p><%= link_to "Return to product", product_path(@product) %></p>
