<!DOCTYPE html>
<html>
  <head>
    <title>Mario's Food</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <ul class="nav nav-tabs">
        <li><%= link_to "Home", root_path, role: 'presentation' %></li>
        <li><%= link_to "Products", products_path, role: 'presentation' %></li>
      </ul>

      <%= flash[:alert] %>
      <%= flash[:notice] %>

      <%= yield %>

    </div>
  </body>
</html>
